.cards {
  background-image: url("../../assets/background-image.jpg");
  background-position: center;
  width: 100vw;
  height: 100%;
  padding: 5% 0px;
}


.cards__card {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  text-align: left;
  padding: 32px;
  display: flex;
  flex-direction: column;

}

.cards__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.cards-atm-div {
  margin-bottom: 3%;
  min-width: 50%;

}

.cards__card>* {
  margin-bottom: 50px;
}

.cards__heading {
  font-size: 4rem;
}

.cards__icon {
  width: 100%;
  height: 10%;
  text-align: right;
}

.select-card__div {
  display: flex;
  align-items: center;
  margin-top: 2%;
  gap: 5px;
}

.select-card__label {
  font-size: 32px;
  font-weight: 500;
}

.select-card__checkbox {
  width: 50px;
  height: 30px;
}

.no-card {
  font-size: 4rem;
}