.shippingAddList {
  background-image: url("../../assets/background-image.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 5% 0px;
}

.shippingAddList-Container {
  width: 90%;
  margin: auto;
  background-color: #ffffffc9;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.shippingAddList-header {
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.shippingAddList-header > :nth-child(1) {
  height: 40px;
  width: 40px;
  padding-top: 13px;
}

.shippingAddList-header > :nth-child(2) {
  padding-top: 6px;
  font-size: 3.5rem;
}

.shippingList {
  background-color: white;
  margin-bottom: 6px;
  border-radius: 10px;
  margin-left: 20px;
  width: 700px;
  height: 100px;
  padding: 10px;
}

.shippingList > p {
  margin-bottom: 10px;
}

.shippingList-span {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 5px;
}

.shippingList-span > p {
  font-weight: 500;
}

.shippingList-btn {
  width: 70px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #ffffffc9;
}

.shippingList :hover {
  cursor: pointer;
}

.select-address {
  display: flex;
  flex-direction: row;
}

input {
  width: auto;
  margin-right: 4px;
}
