.choose-payment {
  background-image: url("../../assets/background-image.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 5% 0px;

  /* need to make this a common style */
}

.choose-payment__card {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  text-align: left;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.choose-payment__heading {
  font-size: 3.5rem;
  margin-bottom: 5%;
  margin-left: 13px;
  display: inline-block;
}

ul {
  list-style: none;
  margin: auto;
}

.choose-payment__link {
  display: flex;
  gap: 4%;
  margin-bottom: 25px;
  padding: 32px;
  border-bottom: 1px solid #ebf0ff;
  text-decoration: none;
  color: #000000;
}

.choose-payment__link:hover {
  text-decoration: underline double #000000;
}

.choose-payment__icons {
  width: 32px;
}

.choose-payment__list-item {
  font-size: 2rem;
}

.choose-payment__btn {
  margin-top: 20%;
  font-size: 2rem;
  background-color: #000000;
  padding: 16px;
  border-radius: 5px;
  color: #ffffff;
}

.active {
  background-color: black;
}
