.choose-payment {
    background: #B2B2B2;
    width: 100%;
    height: 100%;
    padding: 24px;

}

.choose-payment__card {
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #FFFFFF;
    text-align: left;
    padding: 16px;
}

.choose-payment__heading {
    font-size: 4rem;
    margin-bottom: 5%;
}

ul {
    list-style: none;
    margin: auto;
}

.choose-payment__link {
    display: flex;
    gap: 2%;
    /* margin: auto; */
    margin-bottom: 15px;
    padding: 24px;
    border-bottom: 1px solid #B2B2B2;
    width: 50%;
    text-decoration: none;
    color: #000;

}

.choose-payment__link>img {
    width: 32px;
}

.choose-payment__list-item {
    font-size: 2rem;
}

.choose-payment__btn {
    margin-top: 20%;
    font-size: 2rem;
    background-color: #000000;
    padding: 16px;
    border-radius: 5px;
    color: #FFFFFF;
}

.active {
    background-color: black;
}