.choose-payment {
    background: #000000;
    width: 100vw;
    height: 100vh;
    padding: 50px 0px;
    /* margin:  auto ; */
/* need to make this a common style */
}

.choose-payment__card {
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #FFFFFF;
    text-align: left;
    padding: 16px;
}

.choose-payment__heading {
    font-size: 3.5rem;
    margin-bottom: 5%;
    margin-left: 13px ;
    display: inline-block;
}

ul {
    list-style: none;
    margin: auto;
}

.choose-payment__link {
    display: flex;
    gap: 2%;
    margin-bottom: 15px;
    padding: 24px;
    border-bottom: 1px solid #EBF0FF;
    width: 50%;
    text-decoration: none;
    color: #000;

}

.choose-payment__icons {
    width: 32px;
}

.choose-payment__list-item {
    font-size: 2rem;
}

.choose-payment__btn {
    margin-top: 20%;
    font-size: 2rem;
    background-color: #000000;
    padding: 16px;
    border-radius: 5px;
    color: #FFFFFF;
}

.active {
    background-color: black;
}